/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(../asset/header-img.jpg) no-repeat center fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: #000;
  color: aliceblue; 
}

h3{
  font-family: 'Rubik Iso';
}

.btn{ 
  color: aliceblue;
}
/* unique à index.html */
.gamepad{
    width: 30%;
    margin: auto;
    margin-top: 10px;
    background: lightgray;
}

/* fin unique à index.html */




/* FIRST MOBILE */

section{
  margin: 20% 5%;
}

section .card{
  margin-bottom: 1rem;
  border: 2px solid white;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

/* UNIQUE A INDEX.HTML */
section .card .gamepad{
  border: 1px solid;
  border-radius: 50%;
}
/* FIN UNIQUE A INDEX.HTML */

/* UNIQUE A CALENDAR.HTML */

.card-img-top{
  width: 150px;
  height: 150px;
  margin: auto;
}

.ico-card-btn{
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
/* FIN UNIQUE A CALENDAR.HTML */

/* FOOTER */
.footer-content{
  text-align: center;
  margin-top: -10px;
}

.footer-content i{
  margin: 20px;
}
/* FIN FOOTER */

/*RESPONSIVE Dekstop*/

@media screen and (min-width: 992px){
  /* SECTION COMMUN */
  section{
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  }

/* BORDURE UNIQUE POUR INDEX.HTML */
  .indexsection{
    border: 2px solid white;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
  }
/* FIN BORDURE UNIQUE POUR INDEX.HTML */

/* CARD CALENDAR.HTML */
  section .card-calendar{
    display: flex;
    width: 30%;
    height: auto;
    margin: 10px;
  }
/* FIN CARD CALENDAR.HTML */

/* CARD INDEX.HTML */
  section .card-top{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section .card-top .card-1{
    width: 50%;
    margin: 1%;
  }

  section .card-bottom{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section .card-bottom .card-3{
    width: 99%;
    margin-top: 1%;
    text-align: center;
  }

/* FIN CARD INDEX.HTML */

/* FOOTER COMMUN */

  .footer-content{
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
/* FIN FOOTER COMMUN */
}
/*FIN RESPONSIVE Dekstop*/
